body{
    background: #fafafa;
}
body, *{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    font-family: 'GothamProRegular';
}
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
a{
    color: inherit;
    text-decoration: none;
}
input:focus,
button:focus,
textarea:focus{
    outline: none;
}
h2{
    padding: 75px 0 45px;
    text-align: center;
    font-size: 30px;
    font-family: "GothamProBold";
    text-transform: uppercase;
}
header{
    max-width: 1180px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        width: 175px;
        padding: 10px 20px 7px 15px;
        img{
            width: 100%;
        }
    }
    .catalog{
        height: 100%;
        background: #d4ebe8;
        padding: 0 25px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        p{
            font-family: "GothamProBold";
            font-size: 16px;
        }
        svg{
            width: 6px;
            height: 12px;
            fill: #e64f74;
            margin-left: 8px;
            margin-bottom: 5px;
        }
    }
    nav{
        width: 665px;
        display: flex;
        justify-content: space-between;
        padding: 0 35px;
        a{
            color: #000000;
            font-size: 16px;
            &:nth-child(2){
                text-transform: uppercase;
            }
        }
    }
    .language{
        font-size: 0;
        span{
            width: 45px;
            height: 45px;
            background: #d4ebe8;
            color: #000;
            display: inline-block;
            font-size: 15px;
            text-align: center;
            line-height: 45px;
            vertical-align: top;
            &.active{
                background: #8cc9c7;
                color: #fff;
                font-family: "GothamProBold";
            }
        }
    }
}
.user-panel{
    position: fixed;
    bottom: 0;
    left: 0;
    background: #edf6f5;
    width: 100%;
    z-index: 9;
    .section-in{
        display: flex;
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }
    .search{
        background: #d4ebe8;
        height: 100%;
        display: flex;
        align-items: center;
        button{
            width: 60px;
            height: 100%;
            font-size: 16px;
            margin: 0;
            border: none;
            padding: 0;
            background: none;
        }
        input{
            padding: 15px;
            height: calc(100% - 6px);
            border: none;
            font-size: 16px;
            width: 400px;
            margin-right: 3px;
        }
    }
    .sign-in{
        background: #d4ebe8;
        height: 100%;
        display: flex;
        align-items: center;
        width: 80px;
        font-size: 10px;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px 0 13px;
        & > *{
            display: block;
            width: 100%;
        }
        .fa{
            font-size: 20px;
        }
    }
    .number{
        padding: 0 20px;
        font-size: 16px;
        font-family: "GothamProBold";
    }
    .icons div{
        width: 25px;
        display: inline-block;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}
main{
}
.section-in{
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}
.section-slider{
    background: -moz-radial-gradient(center, ellipse cover,  rgba(183,245,243,0) 0%, rgba(183,245,243,0.01) 1%, rgba(183,245,243,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(183,245,243,0) 0%,rgba(183,245,243,0.01) 1%,rgba(183,245,243,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(183,245,243,0) 0%,rgba(183,245,243,0.01) 1%,rgba(183,245,243,1) 100%);
    .main-slider{
        width: 820px;
        margin: 0px auto 100px;
        padding-top: 50px;
        .owl-nav{
            width: 280px;
            display: block;
            margin: 0 auto;
            position: relative;
            bottom: 15px;
            & > div{
                font-size: 0;
                position: absolute;
                width: 45px;
                height: 45px;
                border-radius: 45px;
                background-color: rgba(255, 255, 255, 0);
                &:first-child{
                    left: 0;
                }
                &:last-child{
                    right: 0;
                }
                &:after{
                    position: absolute;
                    bottom: 0px;
                    font-size: 30px;
                    color: #8bc9c7;
                    width: 10px;
                    height: 20px;
                    text-align: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.8);
                }
            }
            .owl-prev{
                &:after{
                    content:"";
                    background: url('../img/next.svg');
                    background-repeat: no-repeat;
                    transform: translate(-50%, -50%) scale(-1, 1);
                    filter: FlipH;
                }
            }
            .owl-next{
                &:after{
                    content:"";
                    background: url('../img/next.svg');
                    background-repeat: no-repeat;
                }
            }
        }
        .owl-dots{
            display: inline-block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .owl-dot{
            width: 10px;
            height: 10px;
            background: #8bc9c7;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px;
            &.active{
                background: #ed174b;
            }
        }
        &-item{
            font-size: 0;
            margin-bottom: 30px;
            .item-photo{
                width: 45%;
                display: inline-block;
                vertical-align: middle;
            }
            .item-text{
                width: 55%;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .price{
                        color: #ed174c;
                        font-size: 30px;
                        font-family: "GothamProBold";
                    }
                    .buy{
                        color: #fff;
                        font-size: 16px;
                        font-family: "GothamProBold";
                        width: 230px;
                        height: 50px;
                        line-height: 50px;
                        background: #ed174c;
                        display: inline-block;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
            .item-title{
                font-size: 30px;
                font-family: "GothamProBold";
            }
            .item-description{
                margin: 40px 0;
                font-size: 16px;
            }
        }
    }
    .menu-icons{
        width: 100%;
        font-size: 0;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 20px;
            left: 0;
            bottom: -20px;
            background: -moz-linear-gradient(top,  rgba(196,229,228,1) 0%, rgba(125,185,232,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(196,229,228,1) 0%,rgba(125,185,232,0) 100%);
            background: linear-gradient(to bottom,  rgba(196,229,228,1) 0%,rgba(125,185,232,0) 100%);
        }
        &-item{
            width: calc(100%/7);
            height: 170px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            background: #edf5f5;
            border-left: 1px solid #dbeae8;
            &:hover{
                background: #ffffff;
                cursor: pointer;
                .shp0{
                    fill: #8bc9c7;
                }
            }
            &:last-child{
                border-right: 1px solid #dbeae8;
            }
            .item-in{
                padding-top: 30px;
            }
            svg{
                width: 60px;
                max-height: 60px;
                display: block;
                margin: 0 auto;
            }
            p{
                font-family: "GothamProBold";
                font-size: 14px;
                margin-top: 15px;
                max-width: 80%;
                margin: 15px auto 0;
            }
        }
    }
}
.section-popular{
    .popular{
        &-block{
            font-size: 0;
        }
        &-item{
            width: calc(100% / 3);
            padding: 30px;
            border: 1px solid #c5ddda;
            display: inline-block;
            &:hover{
                -webkit-box-shadow: 0px 0px 30px 5px rgba(190,211,210,1);
                -moz-box-shadow: 0px 0px 30px 5px rgba(190,211,210,1);
                box-shadow: 0px 0px 30px 5px rgba(190,211,210,1);
            }
        }
    }

    .item{
        &-img{
            height: 235px;
            overflow: hidden;
            img{
                height: 100%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 15px;
            margin-top: 20px;
            border-top: 1px solid #d4ebe8;
            .title{
                font-size: 14px;
                font-family: "GothamProBold";
                width: 60%;
            }
            .price{
                font-size: 16px;
                font-family: "GothamProBold";
                text-align: center;
                width: 120px;
            }
            svg{
                width: auto;
                height: 15px;
            }
        }
        &-footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            .available{
                font-size: 13px;
                display: flex;
                align-items: center;
                width: calc(100% - 220px);
                svg{
                    margin-right: 10px;
                    fill: #29a695;
                }
            }
            .like{
                width: 100px;
                padding: 0 20px;
                display: flex;
                justify-content: space-between;
            }
            svg{
                width: auto;
                height: 15px;
            }
            .buy{
                background: #d4ebe8;
                font-family: "GothamProBold";
                font-size: 14px;
                text-transform: uppercase;
                width: 120px;
                text-align: center;
                line-height: 40px;
            }
        }
    }
    .all-items{
        height: 50px;
        color: #fff;
        background: #7ad0c6;
        line-height: 50px;
        font-size: 16px;
        font-family: "GothamProBold";
        margin: 40px auto 70px;
        display: inline-block;
        width: calc(100% / 3);
        text-align: center;
        text-transform: uppercase;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
.section-brands{
    background-image: url('../img/grey_wallpaper.png');
    position: relative;
    background-size: cover;
    background-position: center;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(43, 42, 42, 0.8);
    }
    h2{
        color: #fff;
    }
    .brand{
        &-block{
            display: flex;
            justify-content: space-between;
            padding-bottom: 100px;
        }
        &-item{
            height: 100px;
        }
    }
}
.section-news{
    .news{
        &-block {
            display: flex;
            justify-content: space-between;
        }
        &-item {
            width: calc((100% - 75px)/4);
            figure {
                height: 200px;
                overflow: hidden;
            }
            img{
                height: 100%;
            }
            .title{
                margin-top: 20px;
            }
        }
    }
    .all-news{
        height: 50px;
        color: #fff;
        background: #7ad0c6;
        line-height: 50px;
        font-size: 16px;
        font-family: "GothamProBold";
        margin: 50px auto 90px;
        padding: 0 60px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
.section-contact{
    background: #f8f8f8;
    .contact-in{
        width: 100%;
        height: 700px;
        margin: 0 auto;
        font-size: 0;
        & > div{
            display: inline-block;
            vertical-align: top;
            width: 50%;
            height: 100%;
            overflow: hidden;
        }
        #map{
            height: 103%;
        }
        .office{
            background: url(../img/contact_background.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 80px 100px;
            h4{
                font-size: 20px;
                font-family: "GothamProBold";
                margin-bottom: 30px;
                color: #fff;
                text-transform: uppercase;
            }
            &-in{
                width: 520px;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                padding: 30px 0;
                font-size: 0;
                div{
                    display: inline-block;
                    width: 50%;
                    vertical-align: top;
                    color: #fff;
                    padding-left: 30px;
                    position: relative;
                    &:before{
                        content:"\f095";
                        font-family: FontAwesome;
                        font-size: 15px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    &.phone:before{
                        content:"\f095";
                    }
                    &.email:before{
                        content:"\f1fa";
                    }
                    &.schedule:before{
                        content:"\f073";
                    }
                    &.address:before{
                        content:"\f041";
                    }
                    p{
                        font-size: 16px;
                        font-family: "GothamProBold";
                        margin-bottom: 15px;
                    }
                    span{
                        font-size: 14px;
                        display: block;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
footer{
    background: #4e4e4e;
    padding: 60px 0;
    .footer{
        &-head{
            display: flex;
            color: #fff;
            .left-block{
                width: calc(50% - 20px);
                margin-right: 20px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
            .right-block{
                width: 50%;
                display: flex;
                justify-content: space-between;
            }
            .main-menu{
                a{
                    display: block;
                    font-size: 14px;
                    margin-bottom: 10px;
                    line-height: 1.3;
                    &:first-child{
                        font-family: "GothamProBold";
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .contact{
                display: flex;
                align-content: space-between;
                flex-wrap: wrap;
                height: 100%;
                width: 50%;
                &-top p{
                    line-height: 1.4;
                    font-size: 14px;
                    &:first-child{
                        font-family: "GothamProBold";
                    }
                }
                &-bottom{
                    padding-top: 30px;
                    border-top: 1px solid #717171;
                    width: 100%;
                    & > *{
                        margin-right: 30px;
                        &:hover{
                            color: #8bc9c7;
                        }
                    }
                }
            }
            .schedule{
                display: flex;
                align-content: space-between;
                flex-wrap: wrap;
                height: 100%;
                width: 50%;
                font-size: 14px;
                p{
                    line-height: 1.3;
                }
                div:first-child p:first-child{
                    margin-bottom: 15px;
                    font-family: "GothamProBold";
                }
            }
            .cabinet{
                max-width: 320px;
                display: flex;
                align-content: space-between;
                flex-wrap: wrap;
                height: 100%;
                .sign-in{
                    border: 1px solid #d0f6f5;
                    height: 40px;
                    font-family: "GothamProBold";
                    font-size: 16px;
                    text-align: center;
                    line-height: 40px;
                    display: block;
                    width: 100%;
                }
                .subscribe{
                    p{
                        font-size: 14px;
                        color: #a7a7a7;
                        margin-bottom: 20px;
                    }
                    form{
                        font-size: 0;
                        height: 43px;
                    }
                    input{
                        height: 100%;
                        width: calc(100% - 125px);
                        border: none;
                        padding: 10px;
                        vertical-align: top;
                    }
                    button{
                        height: 100%;
                        width: 125px;
                        background: #7ad0c6;
                        color: #fff;
                        font-family: "GothamProBold";
                        font-size: 14px;
                        border: none;
                        cursor: pointer;
                        vertical-align: top;
                    }
                }
            }
            svg{
                fill: #fff;
                width: 130px;
            }
        }
        &-end{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-top: 1px solid #717171;
            padding-top: 25px;
            margin-top: 30px;
            p{
                font-size: 12px;
                color: #fff;
            }
            svg{
                width: 200px;
                height: 15px;
            }
        }
    }
}
