body {
  background: #fafafa; }

body, * {
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'GothamProRegular'; }

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"), url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"), url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"), url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"), url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"), url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  padding: 75px 0 45px;
  text-align: center;
  font-size: 30px;
  font-family: "GothamProBold";
  text-transform: uppercase; }

header {
  max-width: 1180px;
  margin: 0 auto;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .logo {
    width: 175px;
    padding: 10px 20px 7px 15px; }
    header .logo img {
      width: 100%; }
  header .catalog {
    height: 100%;
    background: #d4ebe8;
    padding: 0 25px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .catalog p {
      font-family: "GothamProBold";
      font-size: 16px; }
    header .catalog svg {
      width: 6px;
      height: 12px;
      fill: #e64f74;
      margin-left: 8px;
      margin-bottom: 5px; }
  header nav {
    width: 665px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 35px; }
    header nav a {
      color: #000000;
      font-size: 16px; }
      header nav a:nth-child(2) {
        text-transform: uppercase; }
  header .language {
    font-size: 0; }
    header .language span {
      width: 45px;
      height: 45px;
      background: #d4ebe8;
      color: #000;
      display: inline-block;
      font-size: 15px;
      text-align: center;
      line-height: 45px;
      vertical-align: top; }
      header .language span.active {
        background: #8cc9c7;
        color: #fff;
        font-family: "GothamProBold"; }

.section-in {
  max-width: 1180px;
  margin: 0 auto;
  position: relative; }

.section-slider {
  background: -webkit-radial-gradient(center, ellipse cover, rgba(183, 245, 243, 0) 0%, rgba(183, 245, 243, 0.01) 1%, #b7f5f3 100%);
  background: -webkit-radial-gradient(center, ellipse, rgba(183, 245, 243, 0) 0%, rgba(183, 245, 243, 0.01) 1%, #b7f5f3 100%);
  background: -o-radial-gradient(center, ellipse, rgba(183, 245, 243, 0) 0%, rgba(183, 245, 243, 0.01) 1%, #b7f5f3 100%);
  background: radial-gradient(ellipse at center, rgba(183, 245, 243, 0) 0%, rgba(183, 245, 243, 0.01) 1%, #b7f5f3 100%); }
  .section-slider .main-slider {
    width: 820px;
    margin: 0px auto 100px;
    padding-top: 50px; }
    .section-slider .main-slider .owl-nav {
      width: 280px;
      display: block;
      margin: 0 auto;
      position: relative;
      bottom: 15px; }
      .section-slider .main-slider .owl-nav > div {
        font-size: 0;
        position: absolute;
        width: 45px;
        height: 45px;
        -webkit-border-radius: 45px;
                border-radius: 45px;
        background-color: rgba(255, 255, 255, 0); }
        .section-slider .main-slider .owl-nav > div:first-child {
          left: 0; }
        .section-slider .main-slider .owl-nav > div:last-child {
          right: 0; }
        .section-slider .main-slider .owl-nav > div:after {
          position: absolute;
          bottom: 0px;
          font-size: 30px;
          color: #8bc9c7;
          width: 10px;
          height: 20px;
          text-align: center;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .section-slider .main-slider .owl-nav > div:hover {
          background-color: rgba(255, 255, 255, 0.8); }
      .section-slider .main-slider .owl-nav .owl-prev:after {
        content: "";
        background: url("../img/next.svg");
        background-repeat: no-repeat;
        -webkit-transform: translate(-50%, -50%) scale(-1, 1);
            -ms-transform: translate(-50%, -50%) scale(-1, 1);
                transform: translate(-50%, -50%) scale(-1, 1);
        -webkit-filter: FlipH;
                filter: FlipH; }
      .section-slider .main-slider .owl-nav .owl-next:after {
        content: "";
        background: url("../img/next.svg");
        background-repeat: no-repeat; }
    .section-slider .main-slider .owl-dots {
      display: inline-block;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .section-slider .main-slider .owl-dot {
      width: 10px;
      height: 10px;
      background: #8bc9c7;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      display: inline-block;
      margin: 0 10px; }
      .section-slider .main-slider .owl-dot.active {
        background: #ed174b; }
    .section-slider .main-slider-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .section-slider .main-slider-item .item-photo {
        width: 100%;
        max-width: 350px; }
  .section-slider .menu-icons {
    width: 100%;
    font-size: 0;
    position: relative; }
    .section-slider .menu-icons:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      left: 0;
      bottom: -20px;
      background: -webkit-linear-gradient(top, #c4e5e4 0%, rgba(125, 185, 232, 0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(#c4e5e4), to(rgba(125, 185, 232, 0)));
      background: -o-linear-gradient(top, #c4e5e4 0%, rgba(125, 185, 232, 0) 100%);
      background: linear-gradient(to bottom, #c4e5e4 0%, rgba(125, 185, 232, 0) 100%); }
    .section-slider .menu-icons-item {
      width: -webkit-calc(100%/7);
      width: calc(100%/7);
      height: 170px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      background: #edf5f5;
      border-left: 1px solid #dbeae8; }
      .section-slider .menu-icons-item:hover {
        background: #ffffff;
        cursor: pointer; }
        .section-slider .menu-icons-item:hover .shp0 {
          fill: #8bc9c7; }
      .section-slider .menu-icons-item:last-child {
        border-right: 1px solid #dbeae8; }
      .section-slider .menu-icons-item .item-in {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
      .section-slider .menu-icons-item svg {
        width: 58px;
        height: auto;
        display: block;
        margin: 0 auto; }
      .section-slider .menu-icons-item p {
        font-family: "GothamProBold";
        font-size: 14px;
        margin-top: 15px;
        max-width: 80%;
        margin: 15px auto 0; }

.section-popular .popular-block {
  font-size: 0; }

.section-popular .popular-item {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  padding: 30px;
  border: 1px solid #c5ddda;
  display: inline-block; }
  .section-popular .popular-item:hover {
    -webkit-box-shadow: 0px 0px 30px 5px #bed3d2;
    box-shadow: 0px 0px 30px 5px #bed3d2; }

.section-popular .item-img {
  width: 100%; }

.section-popular .item-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 15px;
  margin-top: 20px;
  border-top: 1px solid #d4ebe8; }
  .section-popular .item-head .title {
    font-size: 14px;
    font-family: "GothamProBold";
    width: 60%; }
  .section-popular .item-head .price {
    font-size: 16px;
    font-family: "GothamProBold";
    text-align: center;
    width: 120px; }
  .section-popular .item-head svg {
    width: auto;
    height: 15px; }

.section-popular .item-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px; }
  .section-popular .item-footer .available {
    font-size: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px); }
    .section-popular .item-footer .available svg {
      margin-right: 10px;
      fill: #29a695; }
  .section-popular .item-footer .like {
    width: 100px;
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .section-popular .item-footer svg {
    width: auto;
    height: 15px; }
  .section-popular .item-footer .buy {
    background: #d4ebe8;
    font-family: "GothamProBold";
    font-size: 14px;
    text-transform: uppercase;
    width: 120px;
    text-align: center;
    line-height: 40px; }

.section-popular .all-items {
  height: 50px;
  color: #fff;
  background: #7ad0c6;
  line-height: 50px;
  font-size: 16px;
  font-family: "GothamProBold";
  margin: 40px auto 70px;
  display: inline-block;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.section-brands {
  background-image: url("../img/grey_wallpaper.png");
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center; }
  .section-brands:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 42, 42, 0.8); }
  .section-brands h2 {
    color: #fff; }
  .section-brands .brand-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 100px; }
  .section-brands .brand-item {
    height: 100px; }
